# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env*
venv/
.venv/
*.sqlite3

# VSCode
.vscode/

# Alembic
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Other
*.bak
*.swp
